<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
    {% endblock %}

    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>

</head>

<body>

<div class="container">
    {% block header %}
        <div class="text-right">
            <a href="/" class="btn btn-default">Exit</a>
        </div>
        <div class="row text-center">
            <h2>Welcome{% block greeting %}{% endblock %}!</h2>
        </div>
    {% endblock %}
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>

</body>

</html>