{% extends 'main/base.html' %}

{% block title %}Jedy academy: candidate test{% endblock %}

{% block header %}
   <div class="row">
        <h4>Make your choice.</h4>
    </div>
{% endblock %}

{% block body %}
    <form action="/candidate/{{ candidate.id }}/test/{{ test_id }}/" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <p><label><input type="checkbox" name="{{ question.id }}"> {{ question.question }} </label></p>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}