{% extends 'main/base.html' %}

{% block title %}Jedy academy: candidate details{% endblock %}

{% block header %}
   <div class="row">
        <h4>Candidate details:</h4>
    </div>
{% endblock %}

{% block body %}
    <div>
        <p>Name: {{ candidate.name }}</p>
        <p>Age: {{ candidate.age }}</p>
        <p>Email: {{ candidate.email }}</p>
    </div>
    <hr>
    <div>
        <p>Candidate test answers:</p>
        {% for answer in answers %}
        <p>
            {% if answer.value %}
            &#10003;
            {% else %}
            &#10007;
            {% endif %}
            {{ answer.question.question }}
        </p>
        {% endfor %}
    </div>
{% endblock %}