{% extends 'main/base.html' %}

{% block title %}Error page{% endblock %}

{% block header %}
   <div class="row">
        <h4>Error:</h4>
    </div>
{% endblock %}

{% block body %}
    <div>
        <span>{{ error_detail }}</span>
    </div>
{% endblock %}