{% extends 'main/base.html' %}

{% block title %}Jedy academy: login{% endblock %}
{% block greeting %}, stranger{% endblock %}

{% block body %}
    <div></div>
    <div class="row text-center">
        <span>Who are you?</span>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-default btn-block btn-lg" href="/jedi/">Jedi</a>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-default btn-block btn-lg" href="/candidate/">Padawan candidate</a>
        </div>
    </div>
{% endblock %}