{% extends 'main/base.html' %}

{% block title %}Jedy academy: jedi list{% endblock %}
{% block greeting %}, Jedi{% endblock %}

{% block header %}
    {{ block.super }}
    <div class="row">
        <ul class="nav nav-pills">
            <li {% block active_all %}{% endblock %}><a href="/jedi/all/">All jedi</a></li>
            <li {% block active_teachers %}{% endblock %}><a href="/jedi/teachers/">Jedi Teachers(More than 1 padawan)</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <table class="table">
        <caption>Jedi list</caption>
        <tr>
            <th>Name</th>
            <th>Planet</th>
            <th>Padawans</th>
            <th> </th>
        </tr>
        {% for jedi in object_list %}
            <tr>
                <td>{{ jedi.name }}</td>
                <td>{{ jedi.planet.name }}</td>
                <td>{{ jedi.padawans_num }}</td>
                <td><a href="/jedi/{{ jedi.pk }}">Log in</a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}