{% extends 'main/base.html' %}

{% block title %}Jedy academy: active candidates{% endblock %}
{% block greeting %}, {{ jedi.name }}{% endblock %}

{% block body %}

    <hr>
    <div>
        {% if jedi.padawans.all %}
            <p>Your padawans:</p>
            <ul>
                {% for padawan in jedi.padawans.all %}
                    <li>{{ padawan.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center">You have no padawans.</p>
        {% endif %}
    </div>
    <hr>

    {% if success_candidates %}

        <div class="row text-center">
            <div class="col-md-3">
                <span>Name</span>
            </div>
            <div class="col-md-3">
                <span>Age</span>
            </div>
            <div class="col-md-3">
                <span></span>
            </div>
            <div class="col-md-3">
                <span></span>
            </div>
        </div>
        <hr>

        {% for candidate in success_candidates %}
            <form method="POST" action="{% url 'adopt_new_padawan' jedi.id candidate.id %}"
                  class="form-inline">
                {% csrf_token %}
                <div class="row text-center">
                    <div class="col-md-3">
                        <span>{{ candidate.name }}</span>
                    </div>
                    <div class="col-md-3">
                        <span>{{ candidate.age }}</span>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'candidate_details' candidate.pk %}">Candidate details</a>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default">Adopt as padawan</button>
                    </div>
                </div>
            </form>
        {% endfor %}

    {% else %}

        <div class="text-center">
            <span>No suitable candidates on your planet.</span>
        </div>

    {% endif %}

{% endblock %}